.courselist {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
.coursepanel {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 1% 1%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 40%;
    max-width: 400px;
    text-align: center;
}