.active {
    background-color:#202225;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2F3136;
    position: sticky;
    top: 0;
}

.logo img{
    width: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

nav ul {
    display: flex;
    padding: 0px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color:#EBEBEB;
    padding: 0.25rem;
    margin: 0 0.5rem;
    border-radius: 0.95rem;
}

nav ul li a:not(.active):hover {
    background-color:#202225;
}